/* importação do global */
@import url(/global.css);

/* Style body */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    background-color: var(--light-apricot);
    height: 100vh;
}

/*Style main*/

main{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    height: 90%;
    width: 100%;
    overflow: hidden;
}

.signup-right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;

    position: relative;
    
}

.card {
    background-color: var(--white);
    padding: 40px;
    box-shadow: 0 0 10px 1px var(--black25);
    max-width: 400px;
    overflow: auto;
    text-align: center;

    box-sizing: border-box;
    max-height: 100%;
}

.card h2 {
    margin-bottom: 40px;
    cursor: default;
    font-weight: 500;
}

.card form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.span-required {
    font-size: 12px;
    color: var(--red);
    text-align: left;
    margin: 5px 0 0 5px;
    display: none;
}

.card input {
    width: 100%;
    padding: 12px;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    transition: .3s;
}

.card input:hover {
    border-color: var(--textt);
}

.card input:focus {
    border-color: var(--black);
    box-shadow: 0 0 1px 4px var(--black25);
}

.card input:not(:focus) {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-size: 14px;
    font-weight: 100;
}

.card button {
    background-color: var(--black);
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    color: var(--orange);

    margin-bottom: 10px;
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: .3s;
    box-sizing: border-box;
}

.card button:hover {
    background-color: var(--orange);
    color: var(--white);
}

.card p {
    font-size: 14px;
    margin-top: 20px;
    cursor: default;
}

.card p span {
    color: var(--orange);
    text-decoration: none;
}

.card p span:hover{
    text-decoration:underline;
    cursor: pointer;
}

.signup-left {
    display: flex;
    justify-content:center;
    align-items: center;
    width: 50%;
}
.signup-left img{
    width: 100%;
    max-width: 400px;
}