/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}

/* global */
:root {
    --grey:#f0f0f0;
    --dark-grey:#333333;
    --light-grey:#EEEEEE;
    --white:#ffff;
    --navy-blue:#003366;
    --dark-navy-blue:#00264d;
    --black25:#00000025;
    --black40:#00000040;
    --black:#000000;
    --red:#e63636;
    --orange:#F96900;
    --soft-yellow:#FFD700;
}

body, button, a, h1, h2, h3, p {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 300;
    color: var(--dark-grey);
}

::placeholder {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-size: 14px;
    font-weight: 100;
}

input:focus, textarea:focus{
    border-color: var(--orange) !important;
    box-shadow: 0 0 1px 1px var(--orange);
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-size: 14px;
    font-weight: 100;
    outline: none;
}

input:not(:focus) , textarea:not(:focus){
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-size: 14px;
    font-weight: 100;
}
