/* importação do global */
@import url(/global.css);

/* Style body */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    background-color: var(--body);
    height: 100vh;
}

/*Style main*/
main{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    height: 90%;
    width: 100%;
    overflow: hidden;
}

.signup-right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;

    position: relative;
    
}

.card {
    background-color: var(--card);
    padding: 40px;
    box-shadow: 0 0 1px 1px var(--border);
    max-width: 400px;
    overflow: auto;
    text-align: center;
    border-radius: 5px;
    box-sizing: border-box;
    max-height: 100%;
}

.card h2 {
    margin-bottom: 30px;
    cursor: default;
    font-weight: 500;
    color: var(--font-color-secondary);
}

.card a {
    display: inline-block;
    font-size: 14px;
    font-weight: 300;
    color: var(--color-dest);
    text-decoration: none;
    outline: none !important;
    border: none;
}

.card a:focus {
    outline: none;
}

.card a:active{
    outline: none;
    border: none;
}

.card a:hover{
    text-decoration:underline;
}

.card form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.span-required {
    font-size: 12px;
    color: var(--erro);
    text-align: left;
    margin: 5px 0 0 5px;
    display: none;
}

.session-error {
    display: block;
    font-size: 12px;
    color: var(--erro) !important;
    text-align: left !important;
    margin: 5px 0 0 5px;
}

.card input {
    width: 100%;
    padding: 12px;
    outline: none;
    border-radius: 5px;
    background-color: var(--card);
    border: 1px solid var(--border);
    color: var(--font-color-secondary);
    box-sizing: border-box;
    transition: .3s;
}

.card input:focus{
    border-color: var(--border-dest);
}

#nome-sobrenome {
    display: flex;
    flex-direction: row;
    gap: 5px;
}
#nome-sobrenome input {
    width: 50%;
}

.card button {
    background-color: var(--button);
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    color: var(--font-color-primary);
    margin-bottom: 10px;
    width: 100%;
    padding: 12px;
    border: 1px solid var(--border);
    border-radius: 5px;
    cursor: pointer;
    transition: .3s;
    box-sizing: border-box;
}

.card button:hover {
    background-color: var(--button-hover);
}

.card p {
    color: var(--font-color-secondary);
    font-size: 14px;
    margin-top: 10px;
    cursor: default;
}

.card p span {
    color: var(--color-dest);
    text-decoration: none;
}

.card p span:hover {
    text-decoration:underline;
    cursor: pointer;
}

.signup-left {
    display: flex;
    justify-content:center;
    align-items: center;
    width: 50%;
}
.signup-left img{
    width: 100%;
    max-width: 400px;
}